@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            text-align: center;
        }
        body {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            vertical-align: middle;
        }

        td {
            vertical-align: top;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>   
   
</body>
</html>