
@using Transport.Repository.Resource;

@{
    Layout = "";
}
 
<head>
    
    <script>
        var GrdCreditReport; var GrdCreditCustomersReport;

        $("#TxtFromDate").datepicker({
            format: Common_Date_Format, autoclose: true, uiLibrary: 'bootstrap4', iconsLibrary: 'fontawesome', size: 'small'
        });

        $("#TxtToDate").datepicker({
            format: Common_Date_Format, autoclose: true, uiLibrary: 'bootstrap4', iconsLibrary: 'fontawesome', size: 'small'
        });

        function TodayDateRange() {
            let monthNames = ["Jan", "Feb", "Mar", "Apr",
                "May", "Jun", "Jul", "Aug",
                "Sep", "Oct", "Nov", "Dec"];

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth(); //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            let monthName = monthNames[mm];

            return dd + '-' + monthName + '-' + yyyy;
        }

        function MonthStartDate() {
            let monthNames = ["Jan", "Feb", "Mar", "Apr",
                "May", "Jun", "Jul", "Aug",
                "Sep", "Oct", "Nov", "Dec"];

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth(); //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            let monthName = monthNames[mm];

            return '01' + '-' + monthName + '-' + yyyy;
        }

        $(document).ready(function () {
            $('input[id="TxtFromDate"]').val(MonthStartDate);
            $('input[id="TxtToDate"]').val(TodayDateRange);
        });       

        GrdCreditReport = $("#GrdCreditReport").grid({
            primaryKey: "JobVendorName",
            uiLibrary: "bootstrap4",
            resizableColumns: true,
            dataSource: '@Url.Action("CreditReport", "Reports")',
            columns: [
                {
                    field: "JobVendorName", width: 90, title: "Job Vendor Name", sortable: false, align: "center"
                },
                {
                    field: "CreditJob", width: 70, title: "Credit Job", sortable: false, align: "center", renderer: function (value, record) {
                        if (intVal(value).toFixed(2) == 0.00) {
                            return '';
                        }
                        else {
                            return intVal(value).toFixed(2);
                        }
                    }
                }
            ],
            pager: { enable: true, limit: GridRowsDisplayLimit, sizes: ArrPaging }
        });

        GrdCreditReport.on('dataBound', function (e, records, totalRecords) {
            var creditamt = 0, $tfoot;
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '') * 1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            $.each(records, function () {
                creditamt += intVal(this.CreditJob);
            });
            $tfoot = GrdCreditReport.children('tfoot');
            $tfoot.children('tr[data-role="summary"]').remove();
            $tfoot.prepend('<tr data-role="summary" style="text-align:center"><th>Total</th><th>$' + creditamt.toFixed(2) + '</th></tr >');
        });

        GrdCreditCustomersReport = $("#GrdCreditCustomersReport").grid({
            primaryKey: "CustomerName",
            uiLibrary: "bootstrap4",
            resizableColumns: true,
            dataSource: '@Url.Action("CreditCustomersReport", "Reports")',
            columns: [
                {
                    field: "CustomerName", width: 90, title: "Customer Name", sortable: false, align: "center"
                },
                {
                    field: "CreditJob", width: 70, title: "Credit Job", sortable: false, align: "center", renderer: function (value, record) {
                        if (intVal(value).toFixed(2) == 0.00) {
                            return '';
                        }
                        else {
                            return intVal(value).toFixed(2);
                        }
                    }
                }
            ],
            pager: { enable: true, limit: GridRowsDisplayLimit, sizes: ArrPaging }
        });

        GrdCreditCustomersReport.on('dataBound', function (e, records, totalRecords) {
            var creditamt = 0, $tfoot;
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '') * 1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            $.each(records, function () {
                creditamt += intVal(this.CreditJob);
            });
            $tfoot = GrdCreditCustomersReport.children('tfoot');
            $tfoot.children('tr[data-role="summary"]').remove();
            $tfoot.prepend('<tr data-role="summary" style="text-align:center"><th>Total</th><th>$' + creditamt.toFixed(2) + '</th></tr >');
        });

        function Search() {
            var searchFromDate = '';
            var searchToDate = '';

            if ($("#TxtFromDate").val() != 0) {
                searchFromDate = $('#TxtFromDate').val();
            }

            if ($("#TxtToDate").val() != "") {
                searchToDate = $('#TxtToDate').val();
            }
            
            GrdCreditReport.clear();
            GrdCreditReport.reload({ StartDate: searchFromDate, EndDate: searchToDate });
            GrdCreditCustomersReport.clear();
            GrdCreditCustomersReport.reload({ StartDate: searchFromDate, EndDate: searchToDate });
        }

        //Search filter methods
        $('#btnSearch').click(function () {
            Search();
        });

        $('#btnSearchClear').click(function () {
            $('input[id="TxtFromDate"]').val(TodayDateRange);
            $('input[id="TxtToDate"]').val(TodayDateRange);
           
            GrdCreditReport.reload({ StartDate: $('#TxtFromDate').val(), EndDate: $('#TxtToDate').val() });
            GrdCreditCustomersReport.reload({ StartDate: $('#TxtFromDate').val(), EndDate: $('#TxtToDate').val() });
        });

        function intVal(i) {
            return typeof i === 'string' ?
                i.replace(/[\$,]/g, '') * 1 :
                typeof i === 'number' ?
                    i : 0;
        };
    </script>
</head>
<body>   
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Content Header (Page header) -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-pd">
                        <div class="card-header">
                            <span style="font-size: 18px;" class="m-0"><i class="fa fa-random"></i></span>
                            <span style="font-size: 18px; border-left: 1px solid #ccc; padding-left: 10px;"> Accounts Report</span>
                            <div style="float: right;">
                                <span style="border-left: 1px solid #ccc; padding-left: 15px; padding-right: 15px; ">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Show Form" onclick="showForm()"><i class="fas fa-caret-square-down"></i></a>
                                </span><span style="border-left: 1px solid #ccc; padding-left: 15px; padding-right: 15px;">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Hide Form" onclick="hideForm()"><i class="fas fa-caret-square-up"></i></a>
                                </span>
                            </div>
                        </div>
                       
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label">From</label>
                                            <div>
                                                <input type="text" id="TxtFromDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>To</label>
                                            <div>
                                                <input type="text" id="TxtToDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="pdt-25">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="button" id="btnSearch" class="btn btn-primary btn-block"><i class="fa fa-search"></i> @Transport.Repository.WEBPAGEBUTTON.SEARCH</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" id="btnSearchClear" class="btn btn-primary btn-block"><i class="fa fa-paint-brush"></i> @Transport.Repository.WEBPAGEBUTTON.CLEAR</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6" style="border: 1px solid;">
                                    <div>
                                        <h4 align="center">Job Vendor Report</h4>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table id="GrdCreditReport" class="table table-hover"></table>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="border: 1px solid;">
                                    <div>
                                        <h4 align="center">Credit Customer Report</h4>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table id="GrdCreditCustomersReport" class="table table-hover"></table>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div><!-- /.content-wrapper -->
        </div>
    </div>

</body>

    
